.fa-star {
  margin: 0.5em;
  font-size: 40px !important;
}
.answer {
  margin-top: 60px;
}
span {
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  width: 24px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
span.redrawsLeft {
  margin-left: 0.5em;
  background-color: transparent;
  width: auto;
}
.redrawButton {
  box-shadow: -1px 4px 11px 0px rgba(0, 0, 0, 0.5);
}
.equalButton {
  font-size: 25px;
  background-color: #f1e7e7;
  padding: 5px 20px;
  box-shadow: -1px 4px 11px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.equalButton:hover {
  background-color: gray;
}
.selected {
  background-color: #eee;
  color: #ddd;
  cursor: not-allowed;
}
.buttons {
  margin-top: 30px;
}

.used {
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}
